In [1]:
import pandas as pd

In [2]:
hier = pd.read_csv('hierarchy.txt', sep=' ', names=['parent', 'child'])
hier.head()

      parent      child
0  n02118333  n02119789
1  n02471300  n02478875
2  n02471762  n02473983
3  n02100399  n02100735
4  n02374149  n02390258

In [3]:
df = pd.read_csv('id_to_name.txt', sep='\t', names=['id', 'cat'])
df.head()

          id                           cat
0  n00001740                        entity
1  n00001930               physical entity
2  n00002137  abstraction, abstract entity
3  n00002452                         thing
4  n00002684       object, physical object

In [4]:
parent = hier[['parent']].merge(right=df, how='left', left_on='parent', right_on='id')['cat']
child = hier[['child']].merge(right=df, how='left', left_on='child', right_on='id')['cat']

hier_new = pd.concat([parent, child], axis=1)
hier_new.columns = ['parent', 'child']
hier_new.head()

          parent                             child
0            fox          kit fox, Vulpes macrotis
1       hominoid                         proconsul
2        hominid  Sinanthropus, genus Sinanthropus
3         setter                    English setter
4  equine, equid                             hinny

In [5]:
from graph import Graph

In [6]:
all_data = Graph()

for row in df.iterrows():
    id, cat = row[1].values
    
    all_data.add_node(class_name=cat)

In [7]:
for row in hier_new.iterrows():
    parent, child = row[1].values
    
    all_data.add_edge(parent_class=parent, child_class=child)

In [8]:
all_data.get_siblings(class_name='hinny')

{'ass', 'horse, Equus caballus', 'mule', 'quagga, Equus quagga', 'zebra'}

In [9]:
all_data.get_parent(class_name="hinny")

{'equine, equid'}

In [10]:
all_data.get_ancestors(class_name="hinny")

{'equine, equid'}

In [11]:
all_data.has_common_ancestor(
    class1='hinny',
    class2='English setter'
)

False

In [12]:
all_data.has_common_ancestor(
    class1='hinny',
    class2='hinny'
)

True